@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

* {
  font-family: 'Cabin', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

li {
  list-style: none;
}

.App {
  background-color: #363636;
  height: 100vh;
}

/*Sidebar*/
.showSidebar {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 1rem;
  font-size: 1.2rem;
  color: #ffffff;
  cursor: pointer;
  transition: 0.2s ease all;

  &:hover {
    color: #777777;
  }
}

.sidebarHeader {
  margin: 0 .5rem;
}

.card-click {
  cursor: pointer;
  transition: 0.2s ease all;
  margin: 1rem .5rem;

  &:hover {
    background-color: #777777;
  }
}